body {
    margin-left: 20px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 1em;
}
#section-container1 {
    background-color:#ffffff;
    padding: 20px;
}
#section-container2 {
    background-color:#000000;
    padding: 20px;
    color: #ffffff;
}
#section-container3 {
    background-color:#f5f5f5;
    padding: 20px;
}
#section-container4 {
    background-color:#f6f8fb;
    padding: 20px;
}
#section-container5 {
    background-color: #232425;
    padding: 20px;
    color: #ffffff;
}
#section-container6 {
    background-color: #da1020;
    padding: 20px;
    color: #ffffff;
}